@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar but allow scrolling */
.category-button-group {
    /* Firefox */
    scrollbar-width: none;
    /* Internet Explorer 10+ */
    -ms-overflow-style: none;
}

.category-button-group::-webkit-scrollbar {
    /* Safari and Chrome */
    display: none;
}